<div id="error-path">
<h2 class="error-predeterminado">{{message}}</h2>
<p class="texto-error-inesperado">Ocurrió un error inesperado. Por favor, intenta nuevamente.</p>
<a href="/">VOLVER AL INCIO</a>
</div>