<div class="payment-container pending">
  <h1>⏳ Pago pendiente</h1>
  <p>{{message}}</p>
  <a href="/">Volver al inicio</a>
</div>

<script>
  setTimeout(() => {
    window.location.reload()
  }, 6000); 
</script>
