    <div id="container-us">
        <div class="us">
         
            <section class="section">
                <h2>¿Quiénes somos?</h2>
                <p>
                    Somos una banda apasionada de desarrolladores que combina la energía del rock con la precisión del código. 
                    Nuestro objetivo es ayudarte a gestionar tu inventario con un estilo inigualable y una actitud revolucionaria.
                </p>
            </section>
    
            
            <section class="section">
                <h2>Impacto y Testimonios</h2>
                <p>
                    Más de 200 negocios ya están rockeando con nuestras herramientas. 
                    <strong>"El mejor sistema que hemos usado, ¡y tiene estilo!"</strong> - Juan, RockStore.
                </p>
            </section>
    
         
            <section class="section call-action">
                <h2>¿Listo para rockear?</h2>
                <p>
                    Únete a la revolución y dale a tu negocio el control que necesita. 
                    Estamos aquí para que conquistes tu inventario con actitud y estilo.
                </p>
                <a href="/contact">Contactanos</a>
            </section>
        </div>
    </div>