<h1 class="title-login">VERIFY YOU EMAIL</h1>
<form id="form-verify">
    <p id="error-verify" class="error-verify" style="display: none;"></p>
    <p id="error-verify-form" class="error-verify-form" style="display: none;"></p>
    <input type="email" name="email" id="email" placeholder="EMAIL">
    <input type="text" name="verifyCode" id="verifyCode" placeholder="ENTER YOUR CODE">
    <input type="button" class="verify" id="verify" value="Verify">
    
</form>

<script src="/js/verify.js"></script>